template(name="uploadForm")
    div#uploads
    +imageList
    p Ajouter des documents
    input.myFileInput(type="file")

template(name="imageList")
    h3 Images list
    div(id="images-{{project._id}}" class="row")
      div(class="img-list")
        each project_images
            +image
template(name="image")
        with FS.GetFile "images" image_id
            unless this.isUploaded
              div(class="upload-progressbar")
                +FS.UploadProgressBar bootstrap=true
            else
                .col-md-6.image-sortable
                    .row
                        .col-md-6
                            p
                                if isImage
                                    img(src="{{url}}" alt="{{name}}" class="img-thumbnail" width="100px")
                                else
                                    .img-thumbnail.inverse
                                        span.img-vertical-aligner
                                        img(src="/images/logo_transp.png" alt="{{name}}" width="100px")
                            p
                                div(id="text" class="editable" data-type="text" data-pk="#{../_id}" data-name="name" data-value="#{../name}" data-context="ProjectImages") #{../name}
                                br
                                div(id="text" class="editable" data-type="textarea" data-pk="#{../_id}" data-name="description" data-value="#{../description}" data-context="ProjectImages") #{../description}
                        .col-md-6
                            p Position: {{../rank}}
                            .delete_button.btn.btn-danger.btn-xs
                                                    |Effacer
