template(name="adminProject")
   .row
      .col-md-3
         +openProjects
      .col-md-9
         if newProject
            +projectSubmit
         else
            with project
               h2(id="text" class="editable inline" data-type="text" data-pk="#{_id}" data-emptytext="Nom_fr" data-name="name_fr" data-value="#{name_fr}" data-context="Projects") {{name_fr}}
               .clearfix
               h2(id="text" class="editable inline" data-type="text" data-pk="#{_id}" data-emptytext="Nom_en" data-name="name_en" data-value="#{name_en}" data-context="Projects") Nom EN: {{name_en}}
               .clearfix
               h2(id="text" class="editable inline" data-type="text" data-pk="#{_id}" data-emptytext="Nom_nl" data-name="name_nl" data-value="#{name_nl}" data-context="Projects") Nom NL: {{name_nl}}
               .clearfix
               h2(id="text" class="editable inline" data-type="text" data-pk="#{_id}" data-emptytext="Nom_it" data-name="name_it" data-value="#{name_it}" data-context="Projects") Nom IT: {{name_it}}
               .clearfix
               p(id="text" class="editable inline" data-inputclass="x-textarea" data-type="textarea" data-pk="#{_id}" data-emptytext="description FR" data-name="description_fr" data-value="#{description_fr}" data-context="Projects") {{description_fr}}
               .clearfix
               p(id="text" class="editable inline" data-inputclass="x-textarea" data-type="textarea" data-pk="#{_id}" data-emptytext="description EN" data-name="description_en" data-value="#{description_en}" data-context="Projects") {{description_en}}
               .clearfix
               p(id="text" class="editable inline" data-inputclass="x-textarea" data-type="textarea" data-pk="#{_id}" data-emptytext="description NL" data-name="description_nl" data-value="#{description_nl}" data-context="Projects") {{description_nl}}
               .clearfix
               p(id="text" class="editable inline" data-inputclass="x-textarea" data-type="textarea" data-pk="#{_id}" data-emptytext="description IT" data-name="description_it" data-value="#{description_it}" data-context="Projects") {{description_it}}
               .clearfix
               strong Published : &nbsp;
               a(href="#" id="published" class="editclickable") {{view_boolean published}}
               .clearfix
            +uploadForm
            p
               with project
                  button.btn.btn-sm.btn-outline-inverse#deleteProject Delete